# Google Integration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Supabase Integration
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# App Configuration
APP_URL=https://ais-dev-hvk75n4zfibfxwwtb3hmhp-29029123394.us-west2.run.app
